.white-text{
    color: rgb(255, 255, 255)
}
.dark-text{
    color: rgb(20, 13, 1)
}
.light-text{
    color: rgb(248, 172, 40)
}
.grey-text{
    color: rgb(107, 107, 106)
}
.shade{
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.3);
    /* Horizontal offset | Vertical offset | Blur radius | Color */
}
.mil-content-sm-pad {
    position: relative;
    z-index: 2;
    background-color: rgb(255, 255, 250);
    border-radius: 20px;
    box-shadow: 0px 4px 20px rgba(32, 79, 94, 0.05);
    width: 80%; /* Increased from 40% to 80% */
    max-width: 600px; /* Optional: Limits max width */
    margin: 0 auto; /* Centers horizontally */
    padding: 60px; /* Slightly reduced padding for better space use */
}

/* Responsive Adjustments */
@media screen and (max-width: 992px) {
    .mil-content-sm-pad {
        width: 90%; /* Wider on tablets */
    }
}

@media screen and (max-width: 768px) {
    .mil-content-sm-pad {
        width: calc(100% - 40px); /* Full width minus margins on mobile */
        padding: 40px 20px; /* Tighter padding on small screens */
    }
}

.cookie-consent {
    @apply fixed bottom-5 left-1/2 transform -translate-x-1/2 w-[80%] md:w-[60%] lg:w-[30%] p-4 rounded-lg shadow-sm z-50 bg-white text-gray-500 flex items-center;
}


/* Gradient */
.custom-bg-gradient-1 {
    background-image: linear-gradient(to right, var(--secondary-rgba-30) 30%, var(--dark) 200%) !important;
}

@media (max-width: 991px) {
    .custom-bg-gradient-1 {
        border-radius: 0 !important;
    }
}
/*close btn*/
/* Close button for notice section */
#noticeCloseBtn {
    border-radius: 50%;
    height: 40px;
    width: 40px;
    cursor: pointer;
    background-color: rgb(239, 241, 213);
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.4s cubic-bezier(0, 0, 0.3642, 1);
}

#noticeCloseBtn svg {
    width: 20px;
}

#noticeCloseBtn svg line {
    stroke: rgb(250, 255, 255);
}

#noticeCloseBtn:hover {
    transform: rotate(180deg);
    background-color: rgb(236, 185, 52);
}

/* Alternative: if you want to apply the same class globally */
.mil-features .mil-close-button {
    border-radius: 50%;
    height: 40px;
    width: 40px;
    cursor: pointer;
    background-color: rgb(239, 241, 213);
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.4s cubic-bezier(0, 0, 0.3642, 1);
}

.mil-features .mil-close-button svg {
    width: 20px;
}

.mil-features .mil-close-button svg line {
    stroke: rgb(250, 255, 255);
}

.mil-features .mil-close-button:hover {
    transform: rotate(180deg);
    background-color: rgb(236, 185, 52);
}
